<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.biologer.biologer">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.CAMERA"
        android:required="true"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BiologerTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAP_KEY" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.biologer.biologer.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".gui.MapActivity"
            android:label="@string/title_activity_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.biologer.biologer.gui.EntryActivity" />
        </activity>
        <activity
            android:name=".gui.EntryActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.biologer.biologer.gui.LandingActivity" />
        </activity>
        <activity
            android:name=".adapters.CameraActivity">
        </activity>
        <activity android:name=".gui.SplashActivity"
            android:noHistory="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:noHistory="true"/>
        <activity
            android:name=".gui.LandingActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="biologer.org" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.IntroActivity" />
        <activity android:name=".gui.ViewImage"/>
        <activity android:name=".gui.Register"
            android:noHistory="true"/>

        <service android:name="org.biologer.biologer.network.FetchTaxa"/>
        <service android:name="org.biologer.biologer.network.GetTaxaGroups"/>
        <service android:name="org.biologer.biologer.network.UploadRecords"/>
        <service android:name="org.biologer.biologer.network.UpdateLicenses"/>
        <service android:name="org.biologer.biologer.adapters.PreparePhotos"/>

    </application>

</manifest>